<body>
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/cyberscore.css" />
    <article id="main">
        <header class="special container">
            <span class="icon solid fa-shield-alt"></span>
            <h1>CyberScore</h1>
            <p>Application QCM réalisée pour le CMCS 2026</p>
        </header>

        <section class="wrapper style4 container">
            <div class="content flex-container">

                <div class="colonne-gauche">
                    <section>
                        <header>
                            <h3>Le Concept : </h3>
                        </header>
                        <p>L'objectif pour l'utilisateur est de tester ses connaissances pour savoir où sont ses
                            potentielles faiblesses.</p>

                        <h3>Les Profils de score :</h3>
                        <ul>
                            <li>
                                <p1>Le passager intimidé :</p1> Manque de connaissances de base.
                            </li>
                            <p>
                                <img src="screenshots/cyberscore/passager_intimide.png" width="200"
                                    alt="Profil 3 : Le Passager Intimidé" />
                            </p>
                            <li>
                                <p2>La cible confiante : </p2>Connaissances moyennes mais comportement à risque.
                            </li>
                            <p>
                                <img src="screenshots/cyberscore/cible_confiante.png" width="200"
                                    alt="Profil 2 : La Cible Confiante" />
                            </p>
                            <li>
                                <p3>L'éclaireur prudent : </p3>Bonne maîtrise des enjeux de sécurité.
                            </li>
                            <p>
                                <img src="screenshots/cyberscore/eclaireur_prudent.png" width="200"
                                    alt="Profil 1 : L'éclaireur Prudent" />
                            </p>
                        </ul>
                    </section>

                    <h4>Exemples de questions : </h4>
                    <p>
                        <img src="screenshots/Cyberscore/ex_q1.png" width="200" alt="Q : Que faire quand un étranger demande de télecharger un fichier? 
                        A :  1. Télécharger et ouvrir le fichier.
                        ou 
                        2. Vérifier l'identité de l'émetteur.
                         " />
                        <img src="screenshots/Cyberscore/ex_q2.png" width="200" alt="Q : Quel est le meilleur type de mot de passe ? 
                        A : 1. Ma date de naissance ou mon chien.
                        ou 
                        2. Une phrase de passe (Passphrase)." />
                        <img src="screenshots/Cyberscore/ex_q3.png" width="200" alt="Q : Se connecter au Wi-Fi public (gare,resto) est sans problème ?
                        A : 1. Vrai (C'est pratique).
                        ou 
                        2. Faux (C'est un rique)." />
                    </p>

                    <footer>
                        <a href="https://github.com/Lauryne-aussurin/cyberscore" class="button primary">Voir le code sur
                            GitHub</a>
                    </footer>
                </div>

                <div class="colonne-droite">
                    <div class="video-sticky">
                        <video width="100%" controls
                            style="border-radius: 15px; box-shadow: 0 10px 30px rgba(0,0,0,0.2);">
                            <source src="screenshots/cyberscore/demo-cyberscore.webm" type="video/mp4">
                            Votre navigateur ne supporte pas la vidéo.
                        </video>
                        <p style="text-align: center; margin-top: 10px;"><em>Démo vidéo de l'app</em></p>
                    </div>
                </div>

            </div>
        </section>
    </article>
</body>
