<body>
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/cyberscore.css" />
    <article id="main">
        <header class="special container">
            <span class="icon solid fa-shield-alt"></span>
            <h1>CyberScore</h1>
            <p>Application QCM réalisée pour le CMCS 2026</p>
        </header>

        <section class="wrapper style4 container">
            <div class="content">
                <section>
                    <header>
                        <h3>Le Concept : </h3>
                    </header>
                    <p>L'objectif pour l'utilisateur est de tester ses connaissances pour savoir où sont ses
                        potentielles faiblesses.</p>

                    <h3>Les Profils de score :</h3>
                    <ul>
                        <li>
                            <p1>Le passager intimidé :</p1> Manque de connaissances de base.
                        </li>
                        <li>
                            <p2>La cible confiante : </p2>Connaissances moyennes mais comportement à risque.
                        </li>
                        <li>
                            <p3>L'éclaireur prudent : </p3>Bonne maîtrise des enjeux de sécurité.
                        </li>
                    </ul>
                </section>

                <footer>

                    <a href="https://github.com/Lauryne-aussurin/cyberscore" class="button primary">Voir le code sur
                        GitHub</a>

                </footer>
            </div>
        </section>
    </article>
</body>
