<body>
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/cyberscore.css" />
    <article id="main">
        <header class="special container">
            <span class="icon solid fa-shield-alt"></span>
            <h1>Pixel Art</h1>
            
        </header>

        <section class="wrapper style4 container">
            <div class="content">
                <section>
                    <header>
                        <h3>Le Concept : </h3>
                    </header>
                    <p>L'objectif pour l'utilisateur est de créer des pixel art de la taille souhaitée.</p>
                </section>

                <footer>
                    <a href="https://github.com/Lauryne-aussurin/Pixel_art" class="button primary">Voir le code sur GitHub</a>
                </footer>
            </div>
        </section>
    </article>
</body>